@import "tailwindcss";

@theme {
  --color-primary: #138bcd;
  --color-secondary: #79c944;
  --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

.active hr {
  @apply block;
}

::-webkit-scrollbar {
  @apply hidden;
}
